# Bash Stuff
# ----------

alias l="ls -lh"
alias ls="ls -G"
alias ..="cd .."

# Random Stuff
# ------------

# Open the iphone sumulator. It's a pain to find it via ususal methods.
alias iphone="open /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/Applications/iPhone\ Simulator.app"

# Ruby and Rails
# --------------

alias be='bundle exec'

# alias npm="yarn"
alias tug="tugboat"
alias v='vim'
