# Bash Stuff
# ----------

alias l="ls -lh"
alias ls="ls -G"
alias ..="cd .."

# Random Stuff
# ------------

# Open the iphone sumulator. It's a pain to find it via ususal methods.
alias iphone="open /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/Applications/iPhone\ Simulator.app"

# Ruby and Rails
# --------------

alias be='bundle exec'
alias migrate='be rake db:migrate && be rake db:test:prepare'
alias rebuild='be rake db:drop db:create && migrate && be rake db:seed'
alias "gem install"="gem install --no-ri --no-rdoc"

alias tug="tugboat"
alias v='vim'
