[user]
	name = David Tuite
	email = dtuite@gmail.com

[alias]
	s = status
	a = add .
  c = commit
  cm = commit -m
	acam = add . && git commit -m
	ca = commit -a
	cam = commit -a -m
	caa = commit -a --amend
	d = diff --color
	p = push
  b = branch --color
  ch = checkout

  # Git l uses a function defined in ~/.githelpers.
	l = "!source ~/.githelpers && pretty_git_log"
  # The 30 most recent commits.
  r = !git l -30
  # Include all refs
  la = !git l --all
[core]
	editor = /usr/bin/vim

[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[merge]
  tool = vimdiff
