[user]
	name = David Tuite
	email = dtuite@gmail.com

[alias]
	s = status -b
  aa = add --all
  ap = add -p
  c = commit
  cm = commit -m
  ca = commit --amend
	d = diff --color
	p = push
  b = branch --color
  ch = checkout

  # Git l uses a function defined in ~/.githelpers.
  l = "!source ~/.githelpers && pretty_git_log"
  # The 30 most recent commits.
  # FIXME: This doesn't actually work. For some reason, we can't pass
  # args for git into the pretty_git_log function.
  r = !git l -30
  # Include all refs
  la = !git l --all
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/davidtuite/.gitignore_global

[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[merge]
  tool = vimdiff
[color]
	ui = 1
[push]
	default = simple
