[user]
	name = David Tuite
	email = dtuite@gmail.com

[alias]
	s = status -b
  aa = add --all
  ap = add -p
  c = commit
  cm = commit -m
  ca = commit --amend
	d = diff --color
	p = push
  b = branch --color
  ch = checkout
  mef = merge --ff-only
  pur = pull --rebase
  rc = rebase --continue
  rs = rebase --skip
  r = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[core]
	editor = /usr/local/bin/vim
	excludesfile = /Users/davidtuite/.gitignore_global

[format]
  # pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[merge]
  tool = vimdiff
	ff = only
[color]
	ui = 1
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
