.DS_Store
*.swp
*.swo
.vim/.netrwhist

.emacs.d/.smex-items
.emacs.d/*~$
.emacs.d/places
.emacs.d/.recentf
.emacs.d/ido.last
.emacs.d/cider-history
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/auto-save-list
.emacs.d/backups
