ServerAliveInterval 60

Host orange
  HostName 192.241.182.148
  Port 22
  IdentityFile ~/.ssh/id_rsa
  User deployer
  PreferredAuthentications publickey


Host pink
  HostName 162.243.245.46
  Port 22
  IdentityFile ~/.ssh/id_rsa
  User deployer
  PreferredAuthentications publickey
